# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
engines/.vs/engines.vc15/v15/.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.log
*.pdb
*.ilk
*.tlog
*.idb
engines/ffmpeg-input/ffmpeg-input.vc15.vcxproj.user
engines/ffmpeg-output/ffmpeg-output.vc15.vcxproj.user
engines/sdl-mixer/sdl-mixer.vc15.vcxproj.user
engines/sdl-renderer/sdl-renderer.vc15.vcxproj.user
*.ipch
/engines/.vs
engines/cef-input/cef-input.vc17.vcxproj.user
/engines/cef-input/x64
/engines/deps/cef_binary_122.1.10+gc902316+chromium-122.0.6261.112_windows64
engines/ffmpeg-input/ffmpeg-input.vc17.vcxproj.user
/engines/ffmpeg-input/x64
engines/ffmpeg-output/ffmpeg-output.vc17.vcxproj.user
/engines/ffmpeg-output/x64
engines/sdl-mixer/sdl-mixer.vc17.vcxproj.user
/engines/sdl-mixer/x64
/engines/sdl-renderer/x64
engines/cef-input/MediaDeviceSalts
engines/cef-input/MediaDeviceSalts-journal
/engines/deps/ultralight-sdk-1.3.0-win-x64
engines/cef-input/src/engine - copia (2).cpp
engines/cef-input/src/engine - copia.cpp
/launcher/apps
/launcher/node_modules
launcher/package-lock.json
launcher/config.json
/launcher/logs
/launcher/dist
/backend/logs
/backend/node_modules
backend/package-lock.json
/backend/www
backend/config.json
frontend/pubspec.lock
