# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
engines/.vs/engines.vc15/v15/.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.log
*.pdb
*.ilk
*.tlog
*.idb
engines/ffmpeg-input/ffmpeg-input.vc15.vcxproj.user
engines/ffmpeg-output/ffmpeg-output.vc15.vcxproj.user
engines/sdl-mixer/sdl-mixer.vc15.vcxproj.user
engines/sdl-renderer/sdl-renderer.vc15.vcxproj.user
